.villagersList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.villagerCard {
  width: 200;
  height: 300;
}

.villagerCard img {
  width: 200;
  height: 300;
}

li,
ul,
ol {
  list-style: none;
}
